<div class="card">
  <div class="card-header" *ngIf="title">
    <p class="card-header-title">
      {{title}}
    </p>
  </div>
  <div class="card-image" *ngIf="showPhoto">
    <figure class="image is-4by3">
      <a [href]="url" target="_blank">
        <img [src]="url" [alt]="alt">
      </a>
    </figure>
  </div>
  <footer class="card-footer" *ngIf="actions.length">
    <a class="card-footer-item" *ngFor="let action of actions" (click)="action.action()">
      <span class="icon">
        <fa-icon [icon]="action.icon"></fa-icon>
      </span>
      <span>
        {{action.text}}
      </span>
    </a>
  </footer>
</div>