<section class="hero is-medium is-success is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        My Gun Locker
      </h1>
      <p></p>
      <h2 class="subtitle">
        Your virtual gun locker. Store pictures and serial numbers securely in the cloud.
      </h2>
    </div>
  </div>
</section>
<div b-container>
  <div class="notification">
    My Gun Locker requires you to sign in using Google.
  </div>
  <div class="center-btn">
    <button b-btn="primary outline large" (click)="login()">Sign In With Google</button>
  </div>
</div>