<section class="hero is-success is-bold" title="">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">My Gun Locker</h1>
    </div>
  </div>
</section>
  <section class="notification is-warning" *ngIf="!gunGroups.length">
    <div class="container">
      <h2 class="subtitle">
        You haven't added any guns yet!
      </h2>
    </div>
  </section>
<mgl-add-gun></mgl-add-gun>
<section [mgl-gun-card-cols-container]="gunGroups" *ngIf="gunGroups.length" class="section"></section>

<mgl-scroll-top></mgl-scroll-top>