<header class="card-header">
  <p class="card-header-title">
    {{gun.name}}
  </p>
</header>
<div class="card-image">
  <figure class="image is-4by3">
    <img [src]="photoUrl" alt="{{name}} image">
  </figure>
</div>
<div class="card-content">
  <div class="content">
    <p class="subtitle">
      <strong>SN:</strong>
      <span>{{gun.serial}}</span>
      <a class="button is-rounded icon copy-icon" (click)="copy()" *ngIf="showClipboard">
        <fa-icon [icon]="icon"></fa-icon>
      </a>
    </p>
    <p>
      {{gun.details}}
    </p>
  </div>
</div>